# --- Entorno y Secretos ---
src/environments/environment.dev.ts
src/environments/environment.ts

# --- Angular Complementos ---
/.angular
.angular/

# --- Pruebas y Reportes (Crucial para tu perfil QA) ---
/coverage/
/reports/
chrome_debug.log
/allure-results
/allure-report

# --- Firebase (Si decides desplegarlo ahí) ---
.firebase/
firebase-debug.log

# --- Otros ---
# Logs de ejecución de procesos en segundo plano
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
