.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.title{
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  font-size: 5rem;
  color: #333;
}
h1 strong{
  display: block;
  color: #007BFF;
}
p{
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 30px;
}
.buttons-container{
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.buttons-container button{
  padding:30px ;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
}
