.nav-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  height: 90px;
}

.nav-logo{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1181f8;
  mat-icon {
    transform: scale(2);
  }
}
.spacer{
  flex: 1 1;
}
.nav-links{
  display: flex;
  gap: 16px;
  font-size: larger;
  a {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}
